 <div class="container-fluid footer">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto text-center">
                <p>&copy; 2023 Weather App. All rights reserved.</p>
            </div>
        </div>
</div>